{% extends "base.html" %}
{% load static %}
{% block css %}
 <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}

<section class="home">

    <div class="home-content">

        <h1>Welcome to Our Website</h1>

        <p>
            Welcome to our website. We provide simple,
            creative and modern solutions for everyone.
        </p>

        <a href="{% url 'about' %}" class="home-btn">
            Learn More
        </a>

        <button class="change-btn" type="button">
            Change Welcome
        </button>

    </div>

</section>

{% endblock %}

{% block js %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}


